#game {
    width : 100%;
    height : 100%;
}

/* use a smaller base size for small screens */
@media (max-device-width: 480px) {
    #game {
        font-size : 32px;
    }
}

/* use a bigger base size for tablets */
@media (min-device-width: 768px) {
    #game {
        font-size : 64px;
    }
}
